{
    "deep_size": 15,
    "max_function_deep": 5,
    "workdir": "~/efidrill_workspace/",
    "logging_path":   "efi_digging.log",
    "just_data_taint" : 1,
    "debug_flag": 0,
    "to_ui" : 1,
    "res_filename": "res.json"
}